{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2"><h2><img src="{{ profile_pic }}" style="height: 50px;" class="img-fluid rounded-circle mr-2">Add Group</h2></div>
    <div class="container">
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label>{{ form.grp.label }}</label>
                {{ form.group(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if "Error" not in message: %}
                        <div class="alert alert-info">
                            <strong>Success! </strong> {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}