<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Salvation Army Texting App</title>
</head>
<body>
    <div class="container mt-2"><h2>Now we wait...</h2></div>
    <div class="container">
        {{ name }}, thank you for using satext.com!  We just need to do a quick confirmation that you are who
        you say you are.  As I'm sure you can understand, we can't just let <i>anyone</i> log in and start sending
        text messages!  We'll try and set you up as soon as possible.<br />
        <br />
        If you don't hear anything within 24 hours, please <a href="/contact">let us know here.</a><br />
    </div>
    <div class="container"><a href="/logout"><button class="btn btn-outline-danger" role="button">Google Logout</button></a></div>
</body>
</html>