{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2"><h2><img src="{{ profile_pic }}" style="height: 50px;" class="img-fluid rounded-circle mr-2">Corps Selection</h2></div>
    <div class="container">
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label for="corps">Corps:</label>
                <select class="form-control" id="corps" name="corps">
                    {% for crp in corps %}
                        <option value="{{ crp[0] }}">{{ crp[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if "Error" not in message[1]: %}
                        <div class="alert alert-info">
                            <strong>Success! </strong> {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <a href="/corps" class="btn btn-danger" role="button">Back</a>
    </div>
{% endblock %}