{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2"><h2>Help and Information</h2></div>
    <div class="container">
        Thank you for using satext.com!  When you log in with your Google account for the first time, you will be
        asked to select your division and corps.  Then your account must be approved by an administrator.  If you are
        the first user for your corps, after approval, you will need to set up groups (Band, Songsters, Staff, etc.).
        Each group can have multiple recipients and recipiients can be parts of more than one group.<br />
        <br />
        If you have questions or you have ideas to improve the app, please <a href="/contact">let us know here.</a>
    </div>
{% endblock %}