<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" href="/static/sms196.png">
    <title>Salvation Army Texting App</title>
</head>
<body>
    {% block content %}{% endblock %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <a href="/logout"><button class="btn btn-outline-danger" role="button">Google Logout</button></a>
        {% else %}
            <a href="/login"><button class="btn btn-success" role="button">Google Login</button></a>
        {% endif %}
    </div>
</body>
</html>