{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2"><h2><img src="{{ profile_pic }}" style="height: 50px;" class="img-fluid rounded-circle mr-2">Groups for {{ recipient }}</h2></div>
    <div class="container">
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" type="text" id="name" name="name" value="{{ recipient }}"><br />
                <label for="phone">Phone:</label>
                <input class="form-control" type="text" id="phone" name="phone" value="{{ phone }}"><br />
                <label for="groups">Groups:</label>
                <select multiple class="form-control" id="groups" name="groups">
                    {% for group in groups %}
                        <option value="{{ group[0] }}">{{ group[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    {% if "Error" not in message[1]: %}
                        <div class="alert alert-info">
                            <strong>Success! </strong> {{ message[1] }}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <a href="/logout"><button class="btn btn-outline-danger" role="button">Google Logout</button></a>
    </div>
{% endblock %}