{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2"><h2><img src="{{ profile_pic }}" style="height: 50px;" class="img-fluid rounded-circle mr-2">Corps Management</h2></div>
    <div class="container">
        <h2>What would you like to do?</h2>
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-check">
                <input class="form-check-input" type="radio" id="actions1" name="actions" value="1">
                <label class="form-check-label" for="actions1">Add a recipient</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="actions2" name="actions" value="2">
                <label class="form-check-label" for="actions2">Manage a recipient</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="actions3" name="actions" value="3">
                <label class="form-check-label" for="actions3">Add a group</label>
            </div>
            <div class="form-check pb-3">
                <input class="form-check-input" type="radio" id="actions4" name="actions" value="4">
                <label class="form-check-label" for="actions4">Remove a group</label>
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    {% if "Error" not in message[1]: %}
                        <div class="alert alert-info">
                            <strong>Success! </strong> {{ message[1] }}
                        </div>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ message[1] }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}