{% extends "layout.html" %}
{% block content %}
    <script src="static/char-count.js"></script>
    <div class="container mt-2"><h2><img src="{{ profile_pic }}" style="height: 50px;" class="img-fluid rounded-circle mr-2">Sending as {{ user_name }}</h2></div>
    <div class="container">
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <label for="group">Group:</label>
                <select class="form-control" id="group" name="group">
                    {% for choice in choices %}
                        <option value="{{ choice[0] }}">{{ choice[1] }}</option>
                    {% else %}
                        <option value="0">No groups available</option>
                    {% endfor %}
                </select>
                <label for="msg">Message:</label>
                <textarea class="form-control" id="msg" name="msg" rows="3" placeholder="Type message here"></textarea>
                <div class="text-right" id="remaining">160/160 remaining</div>
            </div>
            <button type="submit" class="btn btn-success">
                Submit
            </button>
        </form>
        <br />
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "Success": %}
                        <div class="alert alert-info">
                            <strong>{{ category }}!</strong> {{ message }}
                        </div>
                    {% elif category == "Error": %}
                        <div class="alert alert-warning">
                            <strong>{{ category }}!</strong> {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <a href="/menu" class="btn btn-outline-success" role="button">Modify Groups/Recipients</a>
    </div>
{% endblock %}